@{
    Layout = "_CleanersLayout";
}

<h1>@ViewData["Title"]</h1>

<br />
<p>
    Alle oplysninger som modtages af kunder opbevares sikkert,
    indtil kundes reservation er overstået, og det booket værelse er gennemgået.
    Alle oplysninger krypteres og er kun forbeholdt til brug
    i firmaet, for at sikre at kunder får hvad de har bestilt.
</p>