<div style="text-align:center">
    <br />
    <h2>
        Terms of Service
    </h2>
    <br />
    <p>
        Oplysninger fra brugeren bliver først gemt, ved gennemført reservation.
        Hvis hjemmesiden bliver lukket, inden en reservation er gennemført,
        bliver oplysningerne ikke gemt.
        Det samme gælder for telefon samtaler.

        Ved mishandling af lokaler og inventar, bliver kunden opkrævet en erstatning
        på det beløb skaderne har kostet at udbedre.
    </p>
</div>