@model Landlyst.Models.Rooms

<div>
    <table>
        <tr>
            <td style="margin:20px; display:inline-block">
                <label>
                    Altan <br />
                </label>
            </td>

            <td style="margin:20px; display:inline-block">
                <label>2 senge / dobbelt seng <br /> <input type="checkbox" /></label>
            </td>

            <td style="margin:20px; display:inline-block">
                <label>Badekar <br /> <input type="checkbox" /></label>
            </td>

            <td style="margin:20px; display:inline-block">
                <label>Jacuzzi <br /> <input type="checkbox" /></label>

            </td>

            <td style="margin:20px; display:inline-block">
                <label>Køkken <br /> <input type="checkbox" /></label>
            </td>
        </tr>
    </table>
</div>

<table>
    @for (int i = 0; i < Model.rooms.Count; i++)
    {
        if (i == 0 || i % 3 == 0)
        {
            <tr></tr>
        }
        <td style="display:inline-block; margin-right:20px; margin-bottom:20px">
            <div style="border:solid;">
                <p>
                    rum nummer @Model.rooms[i].Number
                    <br />
                    starts pris @Model.rooms[i].Price
                    <br />
                    Tilbehør:
                    <br />
                    @foreach (string utility in Model.rooms[i].GetUtilities())
                    {
                        @utility
                        <br />
                    }
                </p>
                <input type="checkbox" id="@Model.rooms[i].Number" />
            </div>
        </td>
    }
</table>