@model Landlyst.Models.Rooms

<div>
    <table>
        <tr>
            <td style="margin:20px; display:inline-block">
                <div>
                    <label>
                        Altan <br />
                        <input type="checkbox" class="search" onchange="SearchWith()" value="Balcony," />
                    </label>
                </div>
            </td>

            <td style="margin:20px; display:inline-block">
                <div>
                    <label>
                        2 senge / dobbelt seng <br />
                        <input type="checkbox" class="search" onchange="SearchWith()" value="Multiple beds," />
                    </label>
                </div>
            </td>

            <td style="margin:20px; display:inline-block">
                <div>
                    <input value="Bathtub" name="temp" hidden />
                    <label>
                        Badekar <br />
                        <input type="checkbox" class="search" onchange="SearchWith()" value="Bathtub," />
                    </label>
                </div>
            </td>

            <td style="margin:20px; display:inline-block">
                <div>
                    <label>
                        Jacuzzi <br />
                        <input type="checkbox" class="search" onchange="SearchWith()" value="Jacuzzi," />
                    </label>
                </div>
            </td>

            <td style="margin:20px; display:inline-block">
                <div>
                    <label>
                        Køkken <br />
                        <input type="checkbox" class="search" onchange="SearchWith()" value="Kitchen," />
                    </label>
                </div>
            </td>
            <td>
                <div>
                    @using (Html.BeginForm("Booking", "Home"))
                    {
                        <button type="submit" id="res" name="search">Søg</button>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>

<table>
    @for (int i = 0; i < Model.rooms.Count; i++)
    {
        if (i == 0 || i % 3 == 0)
        {
            <tr></tr>
        }
        <td style="display:inline-block; margin-right:20px; margin-bottom:20px">
            <div style="border:solid;">
                <p>
                    rum nummer @Model.rooms[i].Number
                    <br />
                    pris pr dag : @Model.rooms[i].Price
                    <br />
                    Tilbehør:
                    <br />
                    @foreach (string utility in Model.rooms[i].GetUtilities())
                    {
                        @utility
                        <br />
                    }
                </p>
                <input type="checkbox" class="Book" value="@Model.rooms[i].Number," onchange="MultiBook()" />
            </div>
        </td>
    }
</table>
<div>
    <label>Book valgte rum</label>
    @using (Html.BeginForm("Test", "Home", FormMethod.Get))
    {
        <button type="submit" id="sel" name="selected"></button>
    }
</div>

<script>
    function SearchWith() {
        var res = "";
        $(".search:checked").each(function (i, n) { res += $(n).val(); })
        $("#res").val(res);
    }
    function MultiBook() {
        var sel = "";
        $(".Book:checked").each(function (i, n) { sel += $(n).val(); })
        $("#sel").val(sel);
    }

</script>